<div class="modal-header">
	<h3 class="modal-title borderBottom-very-small" style="color:#1b867b;">Delete Project
		<button type="button" class="close" ng-click="dpc.cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
	</h3>
</div>
<div class="modal-body">
	Are you sure you want to delete the project? It will bring down the kubernetes cluster and remove all the associated resources attached with it.
</div>
<div class="modal-footer" align="center">

	<button class="btn btn-danger" ng-click="dpc.okay()">Yes</button>
	<button class="btn btn-primary" ng-click="dpc.cancel()">Cancel</button>
</div>