<div class="page-top"  scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
    <a href="/home" class="al-logo clearfix"><span>DaaS</span></a>
    <div style="display:inline-block;float:right;padding-top:10px;" ng-hide="profileButtonVisible">
        <a href="/login" ng-hide="profileButtonVisible" class="ng-show">
            <div class="button-wrapper ng-scope" style="width:100px; float:left;">
                <button type="button" class="btn btn-info btn-md">Sign
            In
            </button>
            </div>
        </a>
        <a href="/reg" ng-hide="profileButtonVisible" class="ng-show">
            <div class="button-wrapper ng-scope" style="width:100px; float:left;">
                <button type="button" class="btn btn-md btn-primary">Sign
          Up
            </button>
            </div>
        </a>
    </div>

    <div class="user-profile clearfix" ng-hide="!profileButtonVisible" class="ng-show">
        <div class="al-user-profile" uib-dropdown >
            <a uib-dropdown-toggle class="profile-toggle-link"> <img ng-src="{{::( 'user' | profilePicture )}}">
            </a>
            <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu >
                <li><i class="dropdown-arr"></i></li>
                <li><a href="/"><i class="fa fa-user"></i>Profile</a></li>
                <li ng-hide="!profileButtonVisible" class="ng-show"><a href><i
              class="fa fa-cog"></i>Settings</a></li>
                <li ng-hide="!profileButtonVisible" class="ng-show"><a href="/logout" class="signout"><i class="fa fa-power-off"></i>Logout</a></li>
            </ul>
        </div>
        <div> {{currentUser.email}}</div>
    </div>


</div>
