<div class="borderBottom-small">
  <div class="modal-header">
     <button type="button" class="close" ng-click="apct.cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2 class="modal-title borderBottom-very-small" style="color:#1b867b;">Adding a new Project</h2><br>
  </div>    


  <div class="modal-body" ng-init="apct.initAddProject()">

     <div class="loadingContainer" ng-hide="apct.loadingBlock">
      <div class="ex"></div>
      <div class="ex"></div>
      <div class="ex"></div>
      <div class="ex"></div>      
    </div>
    <h4 ng-hide="apct.pm" style = "text-align:center; margin-bottom:25px;">{{apct.progressMessage}}</h4>

    <h4 ng-hide="!apct.projectReadyMessage"> Your cluster is up and running! Continue to deploy your application. </h4>
    
    <div class="modal-footer">
      <button class="btn btn-warning ng-hide"
         ng-hide="!apct.downloadKey" ng-click="apct.startDownloadingKey()">Download Key</button>
      <button class="btn btn-primary" ng-disabled="apct.disableContinue" ng-click="apct.continue()">Continue</button>
    </div>
  </div>

</div>

