<div class="borderBottom-small">
  <div class="modal-header">
     <button type="button" class="close" ng-click="apcs.cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2 class="modal-title borderBottom-very-small" style="color:#1b867b;">Adding a new Project</h2><br>
    <h3 class="ion-arrow-graph-up-right" style="color:#1b867b;"> Step 2: Kubernetes Infrastructure Information</h3>
    <h5 style="color:#1b867b;"> Please select following fields for creating a Kubernetes Cluster on AWS: </h5>
  </div>    

  <div class="modal-body">
    <form method="post" name="addProjectForm"
      novalidate>
      <div class="row">
        <div class="col-xs-3 formLabel" style="color:#1b867b;">Kube Master Instance Type</div>
        <div class="col-xs-1">:</div>
        <div class="col-xs-8 form-group"
          ng-class="{'has-error' : addProjectForm.masterSize.$invalid && addProjectForm.masterSize.$dirty }">
 
          <select class="form-control" ng-model="masterSize" ng-options="type for type in apcs.instanceTypes" autofocus required>

          </select>
        </div>
      </div>
      <div class="row">  
        <div class="col-xs-3"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-8 help-block text-danger"
          ng-messages="addProjectForm.masterSize.$error" role="alert"
          ng-if="addProjectForm.masterSize.$dirty">
          <div ng-message="required">You must select Master Instance Type.
            </div>
        </div>
      </div>
      <div class="row">  
        <div class="col-xs-12"separator>&nbsp;</div>

        <div class="col-xs-3 formLabel" style="color:#1b867b;">Kube Nodes Instance Type</div>
        <div class="col-xs-1">:</div>
        <div class="col-xs-8 form-group"
          ng-class="{'has-error' : addProjectForm.nodeSize.$invalid && addProjectForm.nodeSize.$dirty }">
                 
         <select class="form-control" ng-model="nodeSize" ng-options="type for type in apcs.instanceTypes" autofocus required>

          </select>
        </div>
      </div>
      <div class="row">  
        <div class="col-xs-3"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-8 help-block text-danger"
          ng-messages="addProjectForm.nodeSize.$error" role="alert"
          ng-if="addProjectForm.nodeSize.$dirty">
          <div ng-message="required">
            You must select Node Instance Type.            
          </div>
         
        </div>
      </div>
      <div class="row">  
        <div class="col-xs-12"separator>&nbsp;</div>
      </div>
      <div class="row">  
        <div class="col-xs-3 formLabel" style="color:#1b867b;">Number Of Nodes</div>
        <div class="col-xs-1">:</div>
        <div class="col-xs-8 form-group"
            ng-class="{'has-error' : addProjectForm.nodeNumbers.$invalid && addProjectForm.nodeNumbers.$dirty }">
         
          <input class="form-control" type="number" min="1" list="nodeNumbers" name="nodeNumbers" ng-model="nodeNumbers" required>

        </div>
      </div>
      <div class="row">  
        <div class="col-xs-3"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-8 help-block text-danger"
          ng-messages="addProjectForm.nodeNumbers.$error" role="alert"
          ng-if="addProjectForm.nodeNumbers.$dirty">
          <div ng-message="required">
            You must select the Number of Nodes.            
          </div>
          <div ng-message="min"> Please select a valid input(>=1)
          </div>
        </div>
      </div>
      <div class="row">  
        <div class="col-xs-12"separator>&nbsp;</div>
      </div>
      <div class="row">  
        <div class="col-xs-3 formLabel" style="color:#1b867b;">Volume </div>
        <div class="col-xs-1">:</div>
        <div class="col-xs-4 form-group">
          <input type = "radio" name = "volOption" value = "volSize" ng-checked = "checked" ng-model="volOption" /> Vol Size &nbsp;

          <input type = "radio" name = "volOption" value = "volId" ng-model="volOption"/> Vol Id          
        </div>
        <div class="col-xs-4 form-group">
          <div class="input-group" ng-if="volOption == 'volSize'" >
            <input type="number" name="volumeSize" min="1" ng-model="volumeSize" class="form-control" aria-describedby="basic-addon1" required>
            <span class="input-group-addon" id="basic-addon1">GB</span>
          </div>

          <div class="input-group" ng-if="volOption == 'volId'">
            <span class="input-group-addon" id="basic-addon1" required>vol-</span>
            <input type="text" name="volumeId" ng-model="volumeId" class="form-control" aria-describedby="basic-addon1" required>
          </div>

        </div>
      </div>
      <div class="row">

        <div class="col-xs-3"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-8 help-block text-danger"
          ng-messages="addProjectForm.volumeSize.$error" role="alert"
          ng-if="addProjectForm.volumeSize.$dirty && volOption == 'volSize'">
            <div ng-message="required">You must select the Volume Size</div>
            <div ng-if="volOption == 'volSize'" ng-message="min"> Please select a valid input(>=1)
            </div>
        </div>
        <div class="col-xs-8 help-block text-danger"
          ng-messages="addProjectForm.volumeId.$error" role="alert"
          ng-if="addProjectForm.volumeId.$dirty && volOption == 'volId'">
            <div ng-message="required">You must select the Volume Id</div>
        </div>
</div>
      <div class="row">
         <div class="col-xs-12"separator>&nbsp;</div>
      </div>

    </form>

      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="apcs.add()"
          ng-disabled="addProjectForm.$invalid">Create Cluster</button>
        <button class="btn btn-danger" ng-click="apcs.cancel()">Cancel</button>
      </div>
  </div>

</div>

