<div class="borderBottom-small">
  <div class="modal-header">
   <button type="button" class="close" ng-click="apcfi.cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
   <h2 class="modal-title borderBottom-very-small" style="color:#1b867b;">Deploying the Application</h2><br>
   <h3 class="ion-arrow-graph-up-right" style="color:#1b867b;"> Step 1: Provide Existing Kubernetes Cluster Information </h3>
 </div>    

 <div class="modal-body">
   <div class="panel-body" style="margin-top: -15px;">
    <div class=" bootstrap-panel animated zoomIn">

      <p class="borderBottomLine">
        <span class="title">Project Name</span>
        <span class="dateDetails title">Date Created</span>
        <br/>
        <span class="descriptor">{{apcfi.project.projectName}}</span>
        <span class="dateDetails descriptor">{{apcfi.project.dateCreated | date:'MM/dd/yyyy'}}</span>
      </p>

      <p class="borderBottomLine">
        <span class="title">Project Description</span>
        <br/>
        <span class="descriptor"> {{apcfi.project.description}}</span>
      </p>


      <table style="width:100%;">
        <tr>
          <td>
            <p>
              <span class="title">Cloud Provider</span>
              <br/>
              <span class="descriptor">{{apcfi.project.cloudProvider}}</span>
            </p>
          </td>
          <td>
            <p>
              <span class="title">Master Size</span>
              <br/>
              <span class="descriptor">{{apcfi.project.master_size}}</span>
            </p>
          </td>
          <td>
            <p>
              <span class="title">Node Size</span>
              <br/>
              <span class="descriptor">{{apcfi.project.node_size}}</span>
            </p>
          </td>
          <td>
            <p>
              <span class="title">No. of Nodes</span>
              <br/>
              <span class="descriptor">{{apcfi.project.node_numbers}}</span>
            </p>
          </td>
          <td>
            <p>
              <span class="title">Volume Size</span>
              <br/>
              <span class="descriptor">{{apcfi.project.volume_size}} GB</span>
            </p>
          </td>
        </tr>
      </table>
    </div>

    <p class="borderBottomLine" style = "margin-bottom: 40px;"></p>

    <form method="post" name="addProjectForm"
      novalidate>
      <div class="row">
        <div class="col-xs-3 formLabel" style="color:#1b867b;">Existing Cluster Master URL</div>
        <div class="col-xs-1">:</div>
        <div class="col-xs-8 form-group has-feedback"
        ng-class="{'has-error' : addProjectForm.masterURL.$invalid && addProjectForm.masterURL.$dirty }">

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon3">https://</span>
              <input type="text" class="form-control" id="basic-url" name="masterURL" ng-model="masterURL" aria-describedby="basic-addon3" autofocus required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$">
            </div>  

        </div>
      </div>
      <div class="row">   
        <div class="col-xs-3"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-8 help-block text-danger"
        ng-messages="addProjectForm.masterURL.$error" role="alert"
        ng-if="addProjectForm.masterURL.$dirty">
        <div ng-message="required">Your must enter the master URL</div>
        <div ng-if="addProjectForm.masterURL.$error.pattern">Your must enter valid URL</div>
        </div>
      </div>
      <div class="row">  
        <div class="col-xs-12"separator>&nbsp;</div>

        <div class="col-xs-3 formLabel" style="color:#1b867b;">Cluster User Name</div>
        <div class="col-xs-1">:</div>
        <div class="col-xs-8 form-group has-feedback">
            <input class="form-control" type="text" name="userName" placeholder="admin"
            disabled="true" >
        </div>
      </div>
      
      <div class="row">  
        <div class="col-xs-12"separator>&nbsp;</div>

        <div class="col-xs-3 formLabel" style="color:#1b867b;">Cluster Password</div>
        <div class="col-xs-1">:</div>
        <div class="col-xs-8 form-group has-feedback"
        ng-class="{'has-error' : addProjectForm.clusterPassword.$invalid && addProjectForm.clusterPassword.$dirty }">
          <input class="form-control" type="text" name="clusterPassword" 
          ng-model="clusterPassword" required >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-8 help-block text-danger"
          ng-messages="addProjectForm.clusterPassword.$error" role="alert"
          ng-if="addProjectForm.clusterPassword.$dirty">
          <div ng-message="required">Your must enter the cluster password</div>
        </div>
      </div>

    </div>
  </form>
  
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="apcfi.next()"
    ng-disabled="addProjectForm.$invalid">Next</button>
    <button class="btn btn-danger" ng-click="apcfi.cancel()">Cancel</button>
  </div>

</div>

</div>

