<main class="auth-main">
  <div class="auth-block">
    <h1>Sign up to DaaS</h1>
      


    <form class="form-horizontal" name="myform" onsubmit="return storeValues(this);">
      <div class="form-group">
        <label for="inputFirstName3" class="col-sm-3 control-label">First Name</label>

        <div class="col-sm-9">
          <input type="text" class="form-control" id="inpuFirstName3" placeholder="First Name">
        </div>
      </div>
       <div class="form-group">
        <label for="inputLastName3" class="col-sm-3 control-label">Last Name</label>

        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputLastName3" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label" >Email</label>

        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email" ng-model="user.username">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label" >Password</label>

        <div class="col-sm-9">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password" ng-model="user.password">
        </div>
      </div>
        <div class="form-group">
        <label for="inputPassword4" class="col-sm-3 control-label" >Organization</label>

        <div class="col-sm-9">
          <input type="organization" class="form-control" id="inputPassword4" placeholder="organization" name="organization" ng-model="user.organization">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button ng-click="register(user)" type="submit" class="btn btn-default btn-auth">Sign up</button>

        </div>
      </div>
    </form>

     <div class="auth-sep"><span><span><a href="#/login" style="color:white;">Already have a DaaS account? Sign in!</a></span></span></div>
    
    <!--
    <div class="al-share-auth">
      <ul class="al-share clearfix">
        <li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li>
        <li><i class="socicon socicon-twitter" title="Share on Twitter"></i></li>
        <li><i class="socicon socicon-google" title="Share on Google Plus"></i></li>
      </ul>
    </div>
  -->
  </div>
</main>


<script type="text/javascript">

  var today = new Date();
  var expiry = new Date(today.getTime() + 30 * 24 * 3600 * 1000); // plus 30 days

  function setCookie(name, value)
  {
    document.cookie=name + "=" + escape(value) + "; path=/; expires=" + expiry.toGMTString();
  }


  function storeValues(form)  
  {

    setCookie("email", form.email.value);
    setCookie("password", form.password.value);
    
    console.log("set email"+getCookie("email"));
    console.log("set password"+getCookie("password"));

    return true;
  }


    function getCookie(name)
  {
    var re = new RegExp(name + "=([^;]+)");
    var value = re.exec(document.cookie);
    return (value != null) ? unescape(value[1]) : null;
  }


</script>