<div style="padding-top: 100px;"> </div>
<main class="auth-main">
  <div class="auth-block">
   <form name="loginForm" ng-submit="login()">
    <h2 class="text-center" style="padding-bottom: 20px;">Sign in to DaaS</h2>

    <div class="form-group has-feedback"
      ng-class="{ 'has-error' : loginForm.email.$invalid && loginForm.email.$dirty }">
      <input class="form-control input-lg" type="email"
        id="email" name="email" ng-model="email" placeholder="Enter your Email Id"
        autofocus required> <span
        class="ion-at form-control-feedback"></span>
      <div class="help-block text-danger"
            ng-messages="loginForm.email.$error"
            ng-if="loginForm.email.$dirty">
        <div ng-message="required">Your email address is required.</div>
        <div ng-message="email">Your email address is invalid.</div>
      </div>
    </div>

    <div class="form-group has-feedback"
      ng-class="{ 'has-error' : loginForm.password.$invalid && loginForm.password.$dirty }">
      <input class="form-control input-lg"
        type="password" name="password" ng-model="password"
        placeholder="Enter your Password" required> <span
        class="ion-key form-control-feedback"></span>
      <div class="help-block text-danger"
            ng-messages="loginForm.password.$error"
            ng-if="loginForm.password.$dirty">
        <div ng-message="required">Password is required.</div>
      </div>
    </div>

    <div class="help-block text-danger" ng-model="invalidCreds">
            {{invalidCreds}}
    </div>

    <button type="submit" ng-disabled="loginForm.$invalid || isDisabled"
      class="btn btn-lg btn-block btn-info">Sign in</button>
    <br />

      <p class="text-center text-muted">
      Don't have an account yet? <a href="/reg">Sign up!</a>
    </p>
  </form>
  </div>
</main>
