<div ng-controller="ProjectController as pc"
  ng-init="pc.getProjectDetails()">
  <div class="container">
    <div ng-if="pc.userProjects.length==0">
      <span class='h1'>&nbsp;</span> <span class='h1'>&nbsp;</span>
      <h3 class="text-center">
        <strong>You don't have any projects yet. Click the button
          below to add a project.</strong>
      </h3>
      <span class='h1'>&nbsp;<br>&nbsp;<br>&nbsp;
      </span>
      <button class="btn btn-primary btn-lg center-block"
        ng-click="pc.addProject()">
        <span class='glyphicon glyphicon-plus'></span> Add a Project
      </button>
    </div>



   
  </div>
</div> 
