<div ng-controller="ProjectController as pc" ng-init="pc.getProjectDetails()">
    <div class="container" ng-hide="!profileButtonVisible">
        <div ng-show="pc.userProjects.length==0" class="row">
          <div class="col-md-11">
            <div class="row borderBottomLine" style="margin-top:15px; margin-bottom:15px;">
              <div class="col-md-8">
                <h2>Dashboard
                </h2>
              </div>
            </div>
            <div>
              <span class='h1'>&nbsp;</span> <span class='h1'>&nbsp;</span>
              <h3 class="text-center">
                You don't have any projects yet. Click the button
                  below to add a project.
              </h3>
              <span class='h1'>&nbsp;
              </span>
              <button class="btn btn-primary btn-lg center-block" ng-click="pc.addProject()">
                  <span class='glyphicon glyphicon-plus'></span> Add a Project
              </button>
              <span class='h1'>&nbsp;</span> <span class='h1'>&nbsp;</span>
            </div>
            <!--
                    Informative flow for creating kube project.
            -->
              <div class="row borderBottomLine" style="margin-top:15px; margin-bottom:15px;">
                <div class="col-md-8">
                  <h2>Migrate to Cloud in 3 easy steps:
                  </h2>
                </div>
              </div>
            <div class="row">
               <div class="col-sm-4">
                  <h5 align="center">1. Provide Kubernetes Cluster Info</h4>
                  <div class="img-wrapper"><img ng-src="assets/img/module_01.png" alt="" src="assets/img/module_01.png" height="180" width="120"></div>
               </div>
               <div class="col-sm-4">
                  <h5 align="center">2. Migrate Deployment or Create New</h4>
                  <div class="img-wrapper"><img ng-src="assets/img/module_02.png" alt="" src="assets/img/module_02.png" height="180" width="120"></div>
               </div>
               <div class="col-sm-4">
                  <h5 align="center">3. Manage & Monitor Cluster</h4>
                  <div class="img-wrapper"><img ng-src="assets/img/module_03.png" alt="" src="assets/img/module_03.png" height="180" width="120"></div>
               </div>
            </div>
            <div class="separator"></div>
            </div>
        </div>


        <div ng-show="pc.userProjects.length!=0" class="row">
            <div class="row" style="margin-top:15px; margin-bottom:15px;">
                <div class="col-md-8 borderBottomLine">
                    <h2>Dashboard
                  </h2>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-md" ng-click="pc.addProject()">
                        <span class='glyphicon glyphicon-plus'></span> Add a Project
                    </button>
                </div>
            </div>

            <div class="col-md-7">
                <div class="panel panel-default bootstrap-panel animated zoomIn">
                    <div class="panel-body borderBottom">
                        <p class="borderBottomLine">
                            <span class="title">Project Name</span>
                            <span class="dateDetails title">Date Created</span>
                            <br/>
                            <span class="descriptor">{{pc.selectedProject.projectName}}</span>
                            <span class="dateDetails descriptor">{{pc.selectedProject.dateCreated | date:'MM/dd/yyyy'}}</span>
                        </p>
                        <p class="borderBottomLine">
                            <span class="title">Project Description</span>
                            <br/>
                            <span class="descriptor"> {{pc.selectedProject.description}}</span>
                        </p>
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <p>
                                        <span class="title">Cloud Provider</span>
                                        <br/>
                                        <span class="descriptor">{{pc.selectedProject.cloudProvider}}</span>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <span class="title">Master Size</span>
                                        <br/>
                                        <span class="descriptor">{{pc.selectedProject.master_size}}</span>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <span class="title">Node Size</span>
                                        <br/>
                                        <span class="descriptor">{{pc.selectedProject.node_size}}</span>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <span class="title">No. of Nodes</span>
                                        <br/>
                                        <span class="descriptor">{{pc.selectedProject.node_numbers}}</span>
                                    </p>
                                </td>
                                 <td>
                                    <p>
                                        <span class="title">Volume Size</span>
                                        <br/>
                                        <span class="descriptor">{{pc.selectedProject.volume_size}} GB</span>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <a href="#" class="btn btn-primary btn-sm" ng-click="pc.openTree(pc.selectedProject)">
                                         <i class="fa fa-link fa-spin fa-lg" aria-hidden="true"></i>
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <p ng-if="pc.selectedProject.app_url!=undefined" class="descriptor">
                                        <span class="title">App URL</span>
                                        <br/>
                                        <span class="descriptor" style="font-size:small;">{{pc.selectedProject.app_url}}</span> <a href="{{pc.selectedProject.app_url}}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>                                       
                                    </p>
                                    <p ng-if="pc.selectedProject.app_url===undefined" style="margin-top:10px;">
                                        <button class="btn btn-primary btn-sm" ng-click="pc.deployApp(pc.selectedProject)">
                                            Deploy App from Existing Cluster
                                        </button>
                                    </p>

                                </td>
                                <td>
                                    <p style="margin-top:10px;">
                                        <button class="btn btn-primary btn-sm" ng-click="pc.goToCluster(pc.selectedProject.project_url)">
                                            Go to Cluster
                                        </button>
                                    </p>
                                </td>
                                <td colspan=2>
                                    <p style="margin-top:10px;">
                                        <button class="btn btn-danger btn-sm" ng-click="pc.removeProject(pc.selectedProject)">
                                            Delete Project
                                        </button>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default bootstrap-panel  animated zoomIn">
                    <div class="panel-body borderBottom">
                        <p class="borderBottomLine" style="color:#1b867b;">CPU Utilization</p>

                        <p>
                            <iframe ng-src="{{trustSrc(pc.cpuUtilUrl)}}" height="300" width="100%"></iframe>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default bootstrap-panel  animated zoomIn">
                    <div class="panel-body borderBottom">
                        <p class="borderBottomLine" style="color:#1b867b;">Memory Utilization</p>
                        <p>
                            <iframe ng-src="{{trustSrc(pc.memoryUtilUrl)}}" height="300" width="100%"></iframe>
                        </p>
                    </div>
                </div>

            </div>

            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="panel panel-default bootstrap-panel with-scroll">
                    <div class="panel-heading" style="background-color: #209e91;color: #FFF;">Projects</div>
                    <div id = "scrollToTop" class="panel-body borderBottom bootstrap-panel with-scroll table-panel animated zoomIn" zoom-in="" ba-panel-blur="" style="background-size: 1274px 717px; background-position: 0px -190px; height: 627px; border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;">
                        <div>
                          <form action="" class="search-form">
                            <div class="form-group has-feedback">
                            <label for="search" class="sr-only">Search</label>
                            <input type="text" class="form-control" ng-model="searchKeyword.projectName" placeholder="Search By Name">
                              <span class="glyphicon glyphicon-search form-control-feedback"></span>
                          </div>
                        </form>
                        </div>

                        <div class="ng-scope">
                                <div class="panel panel-default bootstrap-panel cards"  ng-click="selectProject($event,$index, project)" ng-repeat="project in pc.userProjects  | filter: searchKeyword ">
                                    <div class="panel-body borderBottom-small" ng-class="{ selectedCard: $index == cardNumber }">
                                      <div ng-class="{ selector: $index == cardNumber }">
                                      </div>
                                        <p class="borderBottomLine">
                                            <span class="title">Project Name</span>
                                            <span class="dateDetails title">Date Created</span>
                                            <br/>
                                            <span class="descriptor-small">{{project.projectName}}</span>
                                             <span class="dateDetails descriptor-small">{{project.dateCreated | date:'MM/dd/yyyy'}}</span>
                                        </p>
                                        <p>
                                            <span class="title">Project Description</span>
                                            <br/>
                                            <span class="descriptor-small"> {{project.description}}</span>
                                        </p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
